.bonuses {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    justify-content: center;
    background-color: #FFE5EE;
    border-radius: 40px;
    max-width: 488px;
    width: 100%;
    min-height: 444px;
    height: auto;
    padding: 20px;
    gap: 40px;
}


.bonus-item {
    background-color: #FF6699;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 30px;
    display: inline;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    text-align: center;
    transform: rotate(-4deg);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 360px;
    height: auto;
    white-space: wrap;
}

.bonus-item:nth-child(2) {
    transform: rotate(6deg);
    width: 100%;
    max-width: 322px;
    height: 58px;
    white-space: nowrap;
}

.bonus-item:nth-child(3) {
    width: 100%;
    max-width: 422px;
    height: 58px;
    transform: rotate(2deg);
    white-space: nowrap;
}

.text {
    font-weight: bold;
    font-size: 36px;
    align-self: flex-start;
}

