.bonuses {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFE5EE;
    border-radius: 40px;
    max-width: 488px;
    width: 100%;
    min-height: 444px;
    padding: 20px;
    gap: 40px;
    position: relative;
}


.bonus-item {
    background-color: #FF6699;
    color: white;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 30px;
    display: inline;
    font-size: 36px;
    text-align: center;
    transform: rotate(-4deg);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 360px;
    height: auto;
    white-space: wrap;
}

.bonus-item:nth-child(2) {
    transform: rotate(6deg);
    width: 100%;
    max-width: 322px;
    height: 58px;
    white-space: nowrap;
}

.bonus-item:nth-child(3) {
    width: 100%;
    max-width: 422px;
    height: 58px;
    transform: rotate(2deg);
    white-space: nowrap;
}

.text {
    font-weight: bold;
    font-size: 36px;
    align-self: flex-start;
}


@media (max-width: 1250px) {
    .bonus-item {
        margin-top: 30px;
    }

    .bonuses {
        width: 455px;
    }
}

@media (max-width: 860px) {
    .bonuses {
        box-sizing: border-box;
        max-width: 100%;
        width: 100%;
    }

    .bonus-item:nth-child(2) {
        align-self: flex-start;
        margin-bottom: 0;
    }

    .bonus-item:nth-child(3) {
        align-self: center;
        margin-bottom: 0;
    }

    .bonus-item {
        margin-top: 10px;
        align-self: flex-end;
        margin-bottom: 20px;
    }
}

@media (max-width: 578px) {
    .bonus-item:nth-child(2) {
        align-self: center;
        margin-bottom: 0;
    }

    .bonus-item {
        margin-top: 10px;
        align-self: center;
        margin-bottom: 20px;
    }
}


@media (max-width: 480px) {
    .text {
        font-size: 28px;
    }

    .bonus-item {
        font-size: 24px;
        box-sizing: border-box;
        max-width: 256px;
        width: 100%;
        height: auto !important;
    }

    .bonus-item:nth-child(2) {
        max-width: 235px;
        width: 100%;
        height: auto !important;
    }

    .bonus-item:nth-child(3) {
        max-width: 302px;
        width: 100%;
        height: auto !important;
    }

}

@media (max-width: 355px) {
    .bonus-item {
        white-space: wrap !important;
    }
}