.bonuses {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #FFE5EE;
    border-radius: 40px;
    width: 100%;
    max-width: 488px;
    height: 444px;
    padding: 20px;
    gap: 30px;
}


.bonuses .bonus-item {
    background-color: #FF6699;
    color: white;
    font-weight: bold;
    padding: 10px;
    border-radius: 30px;
    display: inline;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    text-align: center;
    transform: rotate(-4deg);
    box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
    width: 100%;
    max-width: 360px;
    height: 122px;
    white-space: wrap;
}

.bonuses .bonus-item:nth-child(2) {
    transform: rotate(6deg);
    width: 100%;
    max-width: 322px;
    height: 58px;
    white-space: nowrap;
}

.bonuses .bonus-item:nth-child(3) {
    width: 100%;
    max-width: 422px;
    height: 58px;
    transform: rotate(2deg);
    white-space: nowrap;
}

.text {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
    align-self: flex-start;
}

@media (max-width: 1390px) {
    .bonuses {
        width: 50%;
    }
    .bonuses .bonus-item {
        width: 50%;
    }
}
