.footer {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    background-color: #F5F9FA;
    width: 100%;
    height: auto;
    padding: 30px 30px 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
    font-family: Inter-Variable, sans-serif;
}

.logo {
    width: 200px;
    height: 32px;
    margin-bottom: 100px;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.bottomRow {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    margin-top: -20px;
}

.contacts {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.phone {
    color: #2E8AE5;
    font-size: 36px;
    font-weight: bold;
    text-decoration: none;
    margin-bottom: 10px;
}

.icons {
    display: flex;
    align-items: flex-start;
    gap: 10px;
}

.copyright {
    text-align: right;
    font-size: 22px;
    color: #45494D;
}

@media (max-width: 550px) {
    .phone {
        font-size: 28px;
    }
}

@media (max-width: 400px) {
    .contacts {
        height: auto !important;
    }

    .icons {
        margin-top: 20px;
    }
    .bottomRow {
        flex-direction: column;
        align-items: flex-start;
    }

    .copyright {
        text-align: left;
    }
}