.guarantees {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: transparent;
    border-radius: 40px;
    padding: 60px;
    margin-bottom: 45px;
    width: 675px;
    height: 325px;
}

.header {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
}

.text {
    font-size: 24px;
    color: #45494D;
}