.header {
    background-color: #fff;
    padding: 0.5rem 0;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.contact {
    display: flex;
}

.contact p {
    margin: 0;
    font-size: 22px;
    color: #45494D;
}

.contact button {
    color: #45494D;
    padding: 0.5rem 1rem;
    border: 1px solid #45494D;
    background-color: transparent;
    cursor: pointer;
    border-radius: 36px;
    width: 238px;
    height: 60px;
    margin-left: 1rem;
}
