.container {
    font-family: Inter-Variable, sans-serif;
    padding: 40px;
    overflow: auto;
}

.text {
    font-family: Inter-Variable, sans-serif;
}

@media (max-width: 1040px) {
    .container {
        padding: 30px;
    }
}

@media (max-width: 570px) {
    .container {
        padding: 20px 0 0;
    }
}