.container {
    font-family: Inter, sans-serif;
}

.header {
    background-color: #fff;
    border-bottom: 1px solid #ddd;
    padding: 1rem 0;
}

.headerContent {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.contact {
    display: flex;
    align-items: center;
}

.contact p {
    margin: 0;
}

.contact button {
    color: black;
    padding: 0.5rem 1rem;
    border: 1px solid black;
    background-color: transparent;
    cursor: pointer;
    border-radius: 36px;
    margin-left: 1rem;
}

.hero {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 2rem auto;
}

.heroImage img {
    max-width: 100%;
    border-radius: 10px;
}

.heroContent {
    padding: 2rem;
}

.highlight {
    color: #ff6699;
}

.process {
    background-color: #f8f9fa;
    padding: 2rem 0;
    text-align: center;
}

.steps {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.step {
    background-color: #fff;
    border: 1px solid #ddd;
    padding: 1rem;
    margin: 0.5rem;
    flex: 1 1 30%;
    min-width: 200px;
}

.services {
    padding: 2rem;
    background-color: #fff;
    text-align: center;
}

.services ul {
    list-style: none;
    padding: 0;
}

.services li {
    padding: 1rem;
    background-color: #f8f9fa;
    margin-bottom: 1rem;
    border-radius: 8px;
}

.contactInfo {
    padding: 2rem;
    text-align: center;
    background-color: #f8f9fa;
}

.footer {
    text-align: center;
    padding: 1rem;
    background-color: #0046ad;
    color: white;
}
