.howIt {
    padding-top: 60px;
}

.howItHeader {
    display: flex;
    font-size: 36px;
    font-weight: bold;
}


.allCards {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    flex-shrink: 1;
    justify-content: flex-start;
    width: 100%;
}

@media (max-width: 1090px) {
    .allCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        flex-shrink: 0;
        gap: 10px;
    }
}

@media (max-width: 850px) {
    .howIt {
        margin-top: -40px;
    }

    .allCards {
        display: flex;
        flex-direction: column;
        justify-content: center;
        width: 100%;
    }
}

@media (max-width: 550px) {
    .howItHeader {
        font-size: 28px;
    }
}