.container {
    display: flex;
    justify-content: flex-start;
    padding-top: 60px;
    max-width: 100%;
    min-height: 444px;
    width: 100%;
    height: auto;
    gap: 20px;
    flex-wrap: nowrap;
    box-sizing: border-box;
}

.services {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    background-color: #E6F2FF;
    border-radius: 40px;
    padding: 20px;
    box-sizing: border-box;
    max-width: 862px;
    min-height: 444px;
    width: 100%;
    height: auto;
}

.text {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
}

@media (max-width: 1000px) {
    .services, .bonuses {
        width: 100%;
        max-width: none;
    }
}

@media (max-width: 860px) {
    .container {
        flex-direction: column;
        max-width: 100%;
        width: 100%;
    }

    .services {
        max-width: 100%;
        width: 100%;
    }
}