.container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    margin: 0 auto;
    padding-right: 40px; /* Добавляем отступ справа */
    width: 100%;
    max-width: 1360px; /* Чтобы контейнер не упирался в край страницы */
    gap: 20px;
}

.services {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: #E6F2FF;
    border-radius: 40px;
    padding: 20px;
    width: 862px;
    height: 444px;
    margin-bottom: 20px;
}

.text {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 20px;
}